<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>noteShare</title>
    <link rel="stylesheet" href="noteShare.css">

    <script src="https://kit.fontawesome.com/cb1d831df5.js" crossorigin="anonymous"></script>
</head>

<body>
    <script src="/noteShare.js" defer></script>
    <link rel="stylesheet" href="/noteShare.css">
    <%- include('header.ejs')%>

    <div class="notes-container">
        <%data.forEach(dta=>{ %>

            <div class="note1">
                <div class="imageHolder">


               <a href="/<%=dta.image%>"> <img src="/<%=dta.image%>" alt="pdf file" srcset=""> </a>
            
            
            </div>

                <div class="misc">
                    <span class="infoHolder">Topic:<%=dta.topic%>
                        <br>
                        chapter:<%=dta.chapter%>
                        <br>
                        subject:<%=dta.subject%> <br>
                        by:<%=dta.donar%>
                    </span>
   <div class="download"><a href="/<%=dta.image%>" download><i class="fas fa-arrow-down"></i></a></div>
                </div>
            </div>
            <%})%>
    </div>

</body>

</html>